body{
    background-color: black;
    
}

::selection{
    color: red;
    background-color: #ACCEF7;
}

*{
    font-family: "Courier New";
    color: #7fff00;
    cursor: url("cursors/cursor-auto.cur"), auto;
}

#main-title{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color:#7fff00;
    background-color:blue ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 4px;
    width: fit-content;

}

div {
    margin-left: 8px;
}

strong{
    background-color: blue;
}

.underlined{
    text-decoration: underline;
    cursor: url("cursors/cursor.pointer.cur"), auto;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    padding: 6px;
    margin-bottom: 60px;
}

button{
    color:#7fff00;
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: 16px auto;
    border-width: 2px;
    border-color: white;
    padding: 4px 2px;
    transition-duration: 0.4s;
    cursor: url("cursors/cursor.pointer.cur"), auto;
}

button:hover{
    color: black;
    background-color: white;
    border-color: chartreuse;
}